@font-face {
  font-family: 'SCoreDream';
  font-weight: 100;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 200;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 300;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 400;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 500;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 600;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 700;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 800;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 900;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff) format('woff');
  font-display: swap;
}
:root {
  width: 100%;
  display: flex;
  transition: all 0.5s ease-in-out;
  font-family: 'SCoreDream';

  /* padding */
  --default-padding: 0px calc((100% - 1200px) / 2);

  /* color */
  --color-trans-white: rgba(255, 255, 255, 0.5);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #ffb700;
  transform-origin: 0%;
  z-index: 999;
}
