@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  width: 100%;
  display: flex;
  transition: all 0.5s ease-in-out;

  /* padding */
  --default-padding: 0px calc((100% - 1200px) / 2);

  /* color */
  --color-trans-white: rgba(255, 255, 255, 0.5);
}
